body {
    background-image:radial-gradient(circle, white, aqua, coral);
}
h1 {
    color: blue;
    text-shadow: 3px 3px white;
  
}
h2 {
    color:rgb(253, 253, 253);
    text-shadow: 3px 3px black;
    
}
p {
    color:#852604;

}







